/* soft reset do css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(3, 43, 70);
    background-size: auto 100vh;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

/*breakpoint*/

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

/*breakpoint*/

@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

header {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    /*  background-color: white; */
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: white;
}

.menu a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: rgb(73, 160, 160);
}

.menu a:hover {
    color: rgb(12, 54, 88);
}

.site-title, .site-subtitle {
    text-align: center;
    color: whitesmoke;
}

.site-title {
    font-size: 2.5em;
    font-family: 'Rock Salt', cursive;
}

.site-subtitle {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
}

.barra {
    background-color: whitesmoke;
    padding: 2px;
}

.palito {
    background-color: teal;
    padding: 0.05em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.portfolio {
    padding: 2em;
    height: 100vh;
}

.portfolio h2 {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 1.5em;
    font-size: 2em;
}

.portfolio .grid {
    display: grid;
    gap: 1em;
    
}

@media (min-width:600px) {
    .portfolio .grid {
        grid-template-columns: 300px 300px;
        align-content: center;
        justify-content: center;
        height: calc(100vh- 2em - 36px);
    }
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position: left bottom;
}

@media (min-width:600px) {
    .img-portfolio {
        height: 10em;
        width: 15em;
    }
}

@media (min-width:1200px) {
    .img-portfolio {
        height: 10em;
        width: 100%;
    }
}

.contato {
    margin-top: 2em;
    height: 10vh;
}

.contato h2{
    font-family: 'Press Start 2P', cursive;
}

/*a {
    text-decoration: none;
    color: white;
    background-color: rgb(73, 160, 160);
}

a:hover {
    background-color: rgb(12, 54, 88);
}*/